@charset "UTF-8";

/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body {
    font: normal 15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(105, 173, 228);
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}